/* === ANIMATION === */
@keyframes backgroundRotation {
  from {
    transform: scale3d(3,3,1) rotateZ(0deg);
  }
  to {
    transform: scale3D(3,3,1) rotateZ(360deg);
  }
}
* {
  font-family: 'arial';
}
body:after {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgb(11, 28, 35);
  background: linear-gradient(to right, rgb(103, 185, 220), rgb(41, 78, 91), rgb(11, 28, 35)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation-duration: 10s;
  animation-name: backgroundRotation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.heading {
  color: white;
  margin-top: 15px;
}
h1, h3 {
  text-align: center;
  margin: 0;
}
h3 {
  color: rgb(253, 253, 253);
  margin-bottom: 20px;
}
.editor-body {
  overflow: auto;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
}
.map-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.306);
  background-color: white;
}
.map-preview > div {
  pointer-events: none;
}
.map-preview > p {
  width: 100%;
}
.creator-name {
  background-color: #1ace65;
  margin-top: 0;
  width: 100%;
}
.hiscore-box {
  background-color: #0e7ef6;
  margin-top: 10px;
  width: 100%;
}
.hiscore-box:before {
  content: 'best score';
  display: block;
  padding: 5px;
  color: white;
  text-align: center;
  background-color: #ff2c2c;
}
.hiscore-box > p {
  margin: 0;
  border-bottom: 1px solid rgb(255, 195, 104);
}
.creator-name,
.hi-score-owner,
.hi-score,
.hi-score-date {
  color: white;
  padding: 5px;
  font-size: 12px;
}
.hi-score-date {
  border-bottom: 0 !important;
}
.creator-name > span,
.hi-score-owner > span,
.hi-score > span,
.hi-score-date > span {
  font-weight: bold;
  font-size: 14px;
}
.hi-score {
  padding: 5px;
  color: white;
  margin: 0;
}
.close-btn {
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 20;
  background-color: rgb(253, 41, 41);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 7px -4px #727272;
}
.close-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 5px -4px #727272;
}
.close-btn > div {
  width: auto;
  height: 2px;
  background-color: white;
}
.first-line {
  transform: rotate(45deg) translate(0, 0);
  transform-origin: -2px 8px;
}
.second-line {
  transform: rotate(-45deg);
  transform-origin: 29px 7px;
}
#hiscore-owner {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.299);
}
#hiscore-owner > label {
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}
#hiscore-owner > input {
  border-radius: 5px;
}
#hiscore-owner > h1 {
 color: rgb(85, 255, 133);
 margin-bottom: 15px;
}
#hiscore-owner > button {
  background-color: rgb(14, 126, 246);
}
.disabled-btn {
  background-color: rgb(113, 113, 113);
}
#loadedMaps {
  display: flex !important;
  align-items: start;
  align-content: baseline;
  flex-wrap: wrap;
  z-index: 3;
  position: fixed;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  background-color: rgba(226, 226, 226, 0.592);
  padding-left: 60px;
  transition: all 1s cubic-bezier(.4,.23,.54,.74);
  bottom: 0;
  opacity: 1;
}
#loadedMaps.hidden {
  display: flex !important;
  bottom: 100vh;
  opacity: 0;
}
#loadedMaps .close-btn {
  transition: all 2s ease;
  opacity: 1;
}
#loadedMaps.hidden .close-btn {
  top: -100px;
  opacity: 0;
}
#creator-place {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.306);
  border-radius: 10px;
}
#settings-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.313);
  padding: 25px;
  width: 200px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.306);
}
#settings-place label {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
}
#settings-place:not(.hidden) + #creator-place {
  display: none;
}
.today {
  margin: 0;
  padding:10px;
  background-color: #4d4d4d;
  color: #45ed80;
  font-weight: 100;
  letter-spacing: 1px;
}
.hidden {
  display: none !important;
}
body .a-enter-vr {
  position: fixed;
}
.editor {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: auto;
  transition: filter 1s ease;
  height: 100vh;
}
.blury {
  filter: blur(5px);
}
.path {
  background-color: #af71db;
  display: block;
  width: 25px;
  height: 25px;
  margin: 1px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  transform: scale(0.7);
  box-shadow: 2px 2px 6px -1px #3333338c;
  transition: all 0.3s ease;
  border-radius: 10%;
}
.path:hover {
  background-color: #969acb;
  transform: scale(0.9);
}
.path.selected {
  background-color: #1ace65;
  transform: scale(0.9);
  box-shadow: 2px 4px 7px -2px #33333357;
}
.path.start-selected {
  background-color: #ff2c2c !important;
  transform: scale(0.9);
  box-shadow: 2px 4px 7px -2px #33333357;
}
.path.disabled {
  background-color: #333333;
  pointer-events: none;
  color: white;
}
.path.to-use {
  background-color: #fff784;
}
.path.finish {
  background-color: #0e7ef6;
  pointer-events: none;
  color: white;
}
.apply-error {
  color: white;
  background-color: rgb(221, 51, 51);
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 12px;
  padding: 10px;
  margin: 0;
}
button {
  border: 0;
  padding: 10px;
  font-size: 12px;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
label,
input {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  display: block;
  text-align: center;
  outline: none;
}
label {
  padding: 0;
  font-size: 12px;
}
input {
  margin: 10px 0;
  border: 1px solid #d1d1d1;
  padding: 5px 10px;
}
#accept-settings {
  background-color: rgb(14, 126, 246);
  width: 200px;
}
.apply-block {
  position: fixed;
  bottom: 15px;
  left: 15px;
}
#apply {
  background-color: rgb(26, 206, 101);
  transition: transform 0.3s ease;
}
#another-maps {
  background-color: rgb(255, 136, 51);
  transition: all 0.3s ease;
}
#apply:hover,
#another-maps:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 7px -4px #727272;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  h3 {
    font-size: 14px;
    margin-top: 0px;
  }
}
@media (max-width: 768px) {
  #loadedMaps {
    display: block;
    padding-left: 0;
    padding-top: 70px;
    height: calc(100% - 60px);
  }
  #loadedMaps > div {
    margin: auto;
  }
  #loadedMaps .map-preview {
    margin-bottom: 20px;
    box-shadow: 0px 3px 7px -4px #727272;
  }
  #loadedMaps .map-preview p {
    text-align: center;
  }
}